@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@1,600&display=swap');

#subtitle{
font-family: 'Barlow Semi Condensed', sans-serif;
}

#selected{
  width:100px;
}
.submenuimage{
    width: 100%;
    height:180px;
    background-color:#F4EEFF;
    text-align: center;
    line-height: 180px;
}
.subtitle{
    font-family: 'Masque';
    color:#4e5157 ;
    font-size: 50px;
}

#my-table{
  text-align: center;
}

#main-container{
  margin-top: 0px;
  /* padding-top: -100px; */
}

#header-image{
  width:100%;
}
.table_ect{
  margin-bottom:20px;
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 10px;
}
.sidebar{
  margin-top: 30px;
}
.st_search{
  float: right;
}
.st_pagebar{
  margin-top: 3%;
    position:absolute;
    left:40%;
}
.sub-header{
  margin-left: 25px;
  margin-top: 25px;
}
.st_nav4{
  margin-left: 10px;
  position: relative;
}
#st_write{
  position: relative;
  top: 0px;
  /* left:1060px; */
  width:70px;
  margin-bottom: 10px;
  right: -1030px;
  margin-right: 3.5%;
  background-color: #424874;
  border:none;
  color:white;
}
.st_nav4{
  margin-left: 10px;
  position: relative;
}