.submenuimage {
  width: 100%;
  height: 180px;
  background-color: #f4eeff;
  text-align: center;
  line-height: 180px;
}
.subtitle {
  font-family: "Masque";
  color: #4e5157;
  font-size: 50px;
}

#header-container {
  margin-top: 60px;
  margin-bottom: 50px;
}

#h4-title {
  text-align: left;
}
#b-container {
  padding-top: 100px;
}

#vue-editor {
  height: 300px;
}

#list-btn2 {
  /* background-color: #424874; */
  /* border:none; */
  color: white;
  width: 60px;
  height: 40px;
  position: relative;
  left: 1035px;
}

#submit-btn2 {
  background-color: #424874;
  position: relative;
  left: 500px;
  border: none;
  color: white;
  width: 60px;
  height: 40px;
}

#reset-btn2 {
  background-color: #9ba4b4;
  border: none;
  color: white;
  width: 60px;
  height: 40px;
  position: relative;
  left: 500px;
}

#input-4 {
  border: #9ba4b4 1px solid;
}
