@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@1,600&display=swap');

#commentUptxt{
  width:730px;
  height:100px

}
#update-btn{
  background-color: #424874;
  height:50px;
  width:70px;
  position: relative;
  top:30px;
   border:none
}
#updateEnd-btn{
    background-color: #394867;
  height:50px;
  width:70px;
  position: relative;
  top:30px;
  border:none
}

#deltet-btn{
  background-color:#9BA4B4;
  height:50px;
  width:70px;
  position: relative;
  top:30px;
   border:none

}

#comment_insert_btn{
  background-color: #424874;
  border:none;
  width:70px;
  height: 50px;
  position: relative;
  top:10px;
  left:-20px;
}

#modal-yes{
  background-color: #424874;
  width:100px;
  position: relative;
  left:50px;
  border:none;
}

#modal-no{
  background-color: #9BA4B4;
  width:100px;
  position: relative;
  left:-50px;
  border:none;
}


#content {
  /* background-color: #E6E6FA; */
  /* padding:10px; */
  overflow: auto;
  white-space: pre-wrap;
  text-align: left;
}

#textarea-test{
  height:100%;
}


#update-btn{
background-color: #424874;
border: none;
}
#delete-btn{
background-color: #9BA4B4;
border: none;
}

#prev{
 position: relative;
 left: -393px;
 /* background-color: red; */
}

#next{
 position: relative;
 left: -392px;
 /* background-color: red; */
}

#list{
 position: relative;
 left: 500px;
background-color: #394867;
}


#attachment-btn{
  background-color: orange;
  border: none;
  position: relative;
  left:-25px;
  /* width:100px; */
}

#attachment-title{
  text-align: left;
  font-weight: bold;
}
#attachment{
  /* border: 1px red solid; */
  position: relative;
  left:-174px;
  top:25px;
}

#writer{
  /* border : 1px blue solid; */
    font-size: 15px;
  margin-top: -27px;
    text-align: right;
}


#boardDate{
  text-align: left;
    /* border: 1px red solid; */
  /* margin-top: -10px; */
  font-size: 15px;
  margin-top: -27px;
}

#title{
  text-align: left;
  /* border: 1px red solid; */
  font-weight: bolder;
  font-size:18px;
}
#text-card{
  /* border: 1px solid blue; */
  border:none;
  /* width: 1000px; */
  /* height: 1000px; */
  /* position: relative; */
  /* left : 200px; */
}

#date{
    text-align: right;
    /* margin-top: 100px; */
    position: relative;
    right:150px;
}
#subtitle{
font-family: 'Barlow Semi Condensed', sans-serif;
}

#selected{
  width:100px;
}
.submenuimage{
    width: 100%;
    height:180px;
    background-color:#F4EEFF;
    text-align: center;
    line-height: 180px;
}
.subtitle{
    font-family: 'Masque';
    color:#4e5157 ;
    font-size: 50px;
}

#my-table{
  text-align: center;
}

#main-container{
  margin-top: 0px;
  /* padding-top: -100px; */
}

#header-image{
  width:100%;
}
.table_ect{
  margin-bottom:20px;
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 10px;
}
.sidebar{
  margin-top: 30px;
}
.st_search{
  float: right;
}
.st_pagebar{
  margin-top: 3%;
    position:absolute;
    left:40%;
}
.sub-header{
  margin-left: 25px;
  margin-top: 25px;
}
.st_nav4{
  margin-left: 10px;
  position: relative;
}
#st_write2{
  position: relative;
  top: 0px;
  left: -100px;
  margin-right: 3.5%;
  background-color: #424874;
  border:none;
  color:white;
  width:90px;
}

#st_write3{
  position: relative;
  top: 0px;
  left: -135px;
  margin-right: 3.5%;
  background-color: #9BA4B4;
  border:none;
  color:white;
  width:90px;
}

#list-btn{
  width:100px;
  color:white;
  position: relative;
  left:0px;
}

.detail_{
    margin-top:6%;
    margin-right: 2%;
}
.detail_write{
    height: 400px;
}
.detail_top{
    margin-left: 12px;
}
.detail_btn{
    margin-left: 10px;
}
.detail_btn_div{
    text-align: center;
    margin-top: 3%;
}
#detailbtn1{
  background-color:  #424874;
  border: 1px  #424874 solid;
}
