/* #input-1{
    width:500px;
}

#input-3{
    position: relative;
    left:-95px;
    width:500px;
} */

.submenuimage{
    width: 100%;
    height:180px;
    background-color:#F4EEFF;
    text-align: center;
    line-height: 180px;
}
.subtitle{
    font-family: 'Masque';
    color:#4e5157 ;
    font-size: 50px;
}

#header-container{
    margin-top: 60px;
    margin-bottom: 50px;
}

#h4-title{
    text-align: left;
}
#b-container{
    padding-top: 100px;
}

#vue-editor{
    height:300px;
}


#list-btn3{
/* background-color: #424874; */
border:none;
width:60px;
height:40px;
position: relative;
color:white;
left:500px;
}

#submit-btn3{
background-color: #424874;
border:none;
width:60px;
height:40px;
position: relative;
color:white;
left:500px;
}

#reset-btn3{
background-color: #9BA4B4;
border:none;
width:60px;
height:40px;
color:white;
position: relative;
left:500px;

}

#input-4{
    border:#9BA4B4 1px solid;
}