@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

#menu {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
}
.header_image {
  background-color: #394867;
  text-align: center;
  width: 100%;
}
.user {
  display: inline-block;
}
#menu {
  background-color: #394867;
}
.submenuimage {
  width: 100%;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand {
  color: white !important;
  font-weight: 500;
  font-size: 18px;
}
.header-menu {
  width: 95%;
}
