li {
  list-style: none;
}
#PersonHead {
  z-index: 5;
  position: relative;
  width: auto;
  /* min-width: 1110px; */
  height: 356px;
  padding-left: 222px;
  margin: 0 0 60px;
  border: 3px solid #767676;
}
#PersonHead .name {
  text-align: center;
}
#PersonHead .photoArea {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 221px;
  height: 100%;
  border-right: 1px solid #bcc3d5;
  background-color: #fcfcfc;
}
#PersonHead .photoArea .photoBtn {
  display: inline-block;
  height: 22px;
  padding: 0 6px;
  font: 11px/22px "Malgun Gothic";
  letter-spacing: -1px;
  border: 1px solid #b3b3b1;
  vertical-align: top;
  color: #777;
  background: #fcfcfc;
}
#PersonHead .infoList {
  position: relative;
  width: 101%;
  height: 356px;
}
#PersonHead .infoList:after {
  content: "";
  display: block;
  clear: both;
}
#PersonHead .infoList li {
  position: relative;
  float: left;
  width: 33%;
  height: 98px;
  padding: 20px 0 0;
  margin: -1px 0 0 -1px;
  border: 1px solid #dcdcdc;
}
#PersonHead .infoList li.first {
  margin-left: 0;
  border-left: 0 none;
}
#PersonHead .infoList li.last {
  border-right: 0 none;
}
#PersonHead .infoList li:hover {
  z-index: 2;
  border-color: #81c6fd;
  background: #f9faff;
}
#PersonHead .infoList li:hover .infoComment {
  border-color: #81c6fd;
  border-top-color: #f0d387;
}
#PersonHead .infoList li p {
  text-align: center;
}

#PersonHead .infoList li .count {
  margin-top: 10px;
  font: bold 18px "Malgun Gothic";
  letter-spacing: -1px;
  color: #757575;
}
#PersonHead .infoList li .count a {
  font: bold 20px tahoma;
  color: #6076d7;
  text-decoration: underline;
}

#PersonHead .infoList li .dateChk {
  margin-top: 20px;
  font: 11px "Malgun Gothic";
  letter-spacing: -1px;
}
#PersonHead .infoList li .infoComment {
  z-index: 0;
  position: absolute;
  left: -1px;
  bottom: -1px;
  width: 260px;
  height: 36px;
  padding: 0 10px;
  border: 1px solid #f0d387;
  line-height: 36px;
  background: #fefde1;
}
#PersonHead .infoList li .infoComment span {
  font: 11px/36px "Malgun Gothic";
  letter-spacing: -1px;
  color: #757575;
}
#PersonHead .infoList li.resume .title {
  background-position: 0 0;
  margin: 0 auto;
}
#PersonHead .infoList li.onlineCount .title {
  background-position: 0 -19px;
  margin: 0 auto;
}
#PersonHead .infoList li.resumeCompany .title {
  background-position: -81px -19px;
  margin: 0 auto;
}
#PersonHead .infoList li.apply .title {
  background-position: 0 -37px;
  margin: 0 auto;
}
#PersonHead .infoList li.scrap .title {
  background-position: -80px -37px;
  margin: 0 auto;
}
#PersonHead .infoList li.customize .title {
  width: 96px;
  background-position: -81px -56px;
  margin: 0 auto;
}
#PersonHead .infoList li.openState .state {
  position: static;
  width: auto;
  margin-top: 10px;
  font: bold 18px "Malgun Gothic";
  letter-spacing: -1px;
  color: #ee6a2c;
}
#PersonHead .infoList li.openState .state a {
  color: #ee6a2c;
}
#PersonHead .infoList li.onlineCount .viewCount {
  margin-top: 20px;
  font: bold 11px "Malgun Gothic";
  letter-spacing: -1px;
  color: #74899e;
}
#PersonHead .infoList li.onlineCount .viewCount a {
  position: relative;
  top: -1px;
  font-family: tahoma, "Malgun Gothic";
  color: #ec6b29;
  text-decoration: underline;
}
#PersonHead .infoList li.userInfomation {
  width: 99%;
  height: 156px;
  padding: 28px 0 0 30px;
  background: #fcfcfc;
}
#PersonHead .infoList li.userInfomation > div {
  position: relative;
  height: 17px;
  padding-left: 75px;
  margin-top: 12px;
}
#PersonHead .infoList li.userInfomation > div .item {
  position: absolute;
  left: 0;
  top: 0;
}
#PersonHead .infoList li.userInfomation > div .item .bullet {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 6px;
  background: url("//image.alba.kr/person/personHead.png") no-repeat;
  vertical-align: top;
}
#PersonHead .infoList li.userInfomation div.tel {
  z-index: 1;
  position: relative;
  margin: 0;
}
#PersonHead .infoList li.userInfomation div.tel .item .bullet {
  background-position: -225px 0;
}
#PersonHead .infoList li.userInfomation div.tel .mobile {
  font-weight: bold;
}
#PersonHead .infoList li.userInfomation div.tel .mobileCert {
  position: absolute;
  right: 15px;
  top: -2px;
  padding: 0;
}
#PersonHead .infoList li.userInfomation div.mail {
  position: relative;
}
#PersonHead .infoList li.userInfomation div.mail .item .bullet {
  background-position: -181px 0;
}
#PersonHead .infoList li.userInfomation div.address {
  position: relative;
}
#PersonHead .infoList li.userInfomation div.address .item .bullet {
  background-position: -203px 0;
}
#PersonHead .infoList li.userInfomation .btn {
  position: absolute;
  right: 15px;
  bottom: 13px;
  left: auto;
  height: 35px;
}
#PersonHead .state {
  position: absolute;
  right: -400px;
  top: 0;
  width: 376px;
}
#PersonHead .state .reg span.count a {
  padding-right: 2px;
  font: bold 18px tahoma;
  text-decoration: underline;
  color: #ff4800;
}

.photoBtn:hover {
  cursor: pointer;
}

#profile {
  background-color: #394867;
}
.imagePreviewWrapper {
  display: block;
  width: 100px;
  height: 120px;
  padding: 9px;
  margin: 30px auto 10px;
  border: 1px solid #ddd;
  background: #fff;
  background-size: cover;
  background-position: center center;
}
input[type="file"] {
  position: absolute;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.upload-photo {
  height: 37px;
  width: 106px;
}
.submit-photo {
  display: none;
}

/* 마이페이지 연동 링크 */
.text-left {
  color: white !important;
}
.qna,
.pf,
.scrap,
.community,
.notice,
.resume {
  border: 1px solid #74899e !important;
  clear: both;
}
thead.qna-table,
thead.pf-table,
thead.scrap-table,
thead.community-table,
thead.notice-table,
thead.resume-table {
  background-color: #74899e;
}
#qnaBody:hover,
#pfBody:hover,
#scrapBody:hover,
#communityBody:hover,
#noticeBody:hover,
#resumeBody:hover {
  cursor: pointer;
}
#resumeAll {
  float: right;
}
/* 디데이 */

.d-day-btn {
  height: 26px !important;
  width: 45px !important;
  font-size: 13px;
  padding: 0px;
  display: inline-block;
  cursor: auto !important;
  pointer-events: none;
  border: 0px;
  font-weight: bold;
}
.argent-btn {
  background-color: #cf1b1b !important;
}
.warn-btn {
  background-color: #fddb3a !important;
}
.ok-btn {
  background-color: #158467 !important;
}

/* 관리자 mypage */
#noticeAll {
  float: right;
}
#noticeDiv {
  clear: both;
}
.urgent-call .mobile {
  margin-left: 35px;
}
